* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  color: #008cf0;
  text-decoration: none;
}

.link:hover {
  color: #f36223;
}

.link:focus {
  color: rgba(169, 58, 9, 1);
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  font-size: 16px;
  font-family: sans-serif;
}

.wrapper {
  padding-top: 19px;
  padding-left: 50px;
  padding-right: 50px;
}

input,
textarea,
select,
button {
  font: inherit;
}

.header {
  margin-bottom: 30px;
}

.header__title-box {
  position: fixed;
  top: 0;
  padding-top: 10px;
  background-color: #fff;
  width: 1400px;
  margin-bottom: 27px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  column-gap: 7px;
}

.header__title {
  font-size: 44px;
}

.header__title-span {
  color: #ff5722;
}
.header__icon {
  width: 36.5px;
  height: 43px;
}

.header__icons-box {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__fav-icon {
  position: relative;
  background-image: url("../img/icons/heartgrey.svg");
  width: 44px;
  height: 35px;
}

.fav-icon-counter {
  position: absolute;
  top: -13px;
  left: 25px;
  min-width: 26px;
  text-align: center;
  padding: 3px 5px;
  background: #f36223;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  border-radius:50px;
}

.header__basket-icon {
  position: relative;
  width: 42px;
  height: 41px;
  background-image: url("../img/icons/basketgrey.svg");
}

.header__basket-icon::after {
  content: "3";
  position: absolute;
  min-width: 18px;
  top: -10px;
  left: 24px;
  padding: 3px 5px;
  text-align: center;
  border-radius: 50px;

  background: #f36223;
  font-size: 17px;
  font-weight: 500;

  color: #ffffff;
}

.bread-crumbs {
  margin-top: 70px;
}

.bread-crumbs__container {
  margin-bottom: 8px;
  display: flex;
  gap: 4px;
}

.header-images__title {
  margin-bottom: 30px;
  font-size: 32px;
}

.header-images__box {
  display: flex;
  column-gap: 10px;
}

.header-images__image {
  flex-grow: 1;
  height: 387px;
}

.main {
  margin-bottom: 100px;
}

.main__container {
  display: flex;
  align-items: baseline;
  column-gap: 100px;
}

.configuration__color-title {
  margin-bottom: 15px;
}

.configuration__color,
.configuration__memory {
  margin-bottom: 30px;
}

.configuration__images {
  display: flex;
  gap: 10px;
}

.configuration__image {
  padding: 10px 24.54px;
  width: 80px;
  height: 80px;
  border: solid #888888 1px;
  border-radius: 4px;
  cursor: pointer;
}

.configuration__memory-title {
  margin-bottom: 15px;
}

.configuration__memory-btns {
  display: flex;
  gap: 10px;
}

.configuration__memory-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.specification {
  margin-bottom: 30px;
}

.specification__title {
  margin-bottom: 15px;
}

.specification__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.specification__link {
  font-weight: bold;
}

.specification__item::before {
  display: inline-block;
  content: "\2B24";
  margin-right: 10px;
  vertical-align: text-top;
  color: #888888;
  font-size: 13px;
}

.description {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tables {
  margin-bottom: 50px;
}
.table__title {
  margin-bottom: 15px;
  text-align: left;
  font-weight: 700;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table,
.table__row,
.table__subtitle,
.table__data {
  border: 1px solid;
}

.table__subtitle {
  padding: 10px;
}

.table__data {
  border-bottom: hidden;
  padding: 10px;
  text-align: left;
}

.table__row:last-child > .table__data {
  border-bottom: solid 1px;
}

.table__data:hover {
  cursor: cell;
  transition: 0.2s;
  background-color: #f2f2f2;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.product-card {
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee;
  border-radius: 20px;
}

.product-card__old-price-box {
  margin-bottom: 14px;
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.product-card__fav-icon {
  align-self: center;
  margin-left: auto;
  cursor: pointer;
}

.product-card__fav-icon:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.product-card__fav-icon:focus {
  stroke: #a93a09;
}

.product-card__old-price {
  color: #888888;
  text-decoration: line-through;
}

.product-card__discount {
  padding: 4px 8px;
  background: #f36223;
  border-radius: 500px;
  color: #ffffff;
}

.product-card__price {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 32px;
}
.delivery-box {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.delivery-box__text {
  white-space: nowrap;
}

.delivery-box__cost {
  font-weight: bold;
}

.product-card__button {
  padding: 20px 80px;
  width: 380px;
  display: flex;
  align-items: center;
  gap: 15px;
  white-space: nowrap;

  background: #f36223;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.product-card__button:hover {
  background: #da4a0c;
}

.product-card__button::before {
  content: url('../img/icons/cart.svg');
  width: 20px;
  height: 19px;
}

.product-card__button:active {
  background-color: #a93a09;
}

.product-card__button-inactive {
  background: #888888;
}

.product-card__button-inactive:hover {
  background: #888888;
}

.product-card__button-inactive:active {
  background: #888888;
}

.ads__title {
  margin-bottom: 10px;
  font-size: 14px;
  color: #888888;
}

.ads__iframe-box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.ads__iframe {
  width: 420px;
  height: 300px;
  background: #f0f0f0;
  font-size: 14px;
  color: #888888;
}

.reviews {
  max-width: 880px;
}

.reviews-title__container {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.reviews-title__box {
  display: flex;
  gap: 10px;
}

.reviews__title {
  font-size: 24px;
}

.reviews__counter {
  font-size: 24px;
  font-weight: 700;
  color: #aaaaaa;
}

.reviews__btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  cursor: pointer;
}

.review__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.review {
  display: flex;
  column-gap: 30px;
}

.review__avatar {
  height: 140px;
  border-radius: 50%;
}

.review__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review__name {
  font-weight: 700;
  font-size: 20px;
}

.review__rating-box {
  margin-bottom: 20px;
  display: flex;
  gap: 2px;
}

.review__rating {
  width: 30px;
  height: 30px;
}

.review__comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-comment__text {
  font-size: 14px;
}

.review-comment__subtitle {
  font-weight: 700;
}

.add-review {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.add-review__container {
  width: 710px;
  display: flex;
  flex-direction: column;

  border: none;
}

.form-input {
  border: 1px solid #888888;
}

.form-input::placeholder {
  color: #888888;
}

.form-input:focus {
  outline: 1px solid #000000;
}
.form-input:hover {
  outline: 1px solid #000000;
}

.add-review__title {
  margin-bottom: 15px;
  font-weight: 700;
}

.add-review-box {
  margin-bottom: 30px;
  display: flex;
  gap: 40px;
}

.add-review__name {
  /* flex-grow: 2; */
  width: 100%;
  padding: 15px 0;
  padding-left: 20px;
}
.add-review-input-name {
  position: relative;
  flex-grow: 2;
}

.add-review-input-rating {
  position: relative;
}

.error-name-message {
  position: absolute;
  display: none;
  left: 0px;
  top: 50px;

  width: 100%;
  padding: 8px 0;
  padding-left: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  background-color: #da4a0c;
  z-index: -10;
}
.error-rating-message {
  position: absolute;
  display: none;
  left: 0px;
  top: 50px;
  width: 100%;
  padding: 8px 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  background-color: #da4a0c;
}

.add-review__rating {
  padding: 15px 0;
  padding-left: 20px;
  counter-set: none;
}

.add-review__comment {
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 156px;
  padding-left: 20px;

  resize: none;
}

.add-review__button {
  padding: 10px 20px;
  align-self: flex-start;

  border: none;
  border-radius: 4px;

  background-color: #f36223;
  color: #ffffff;
  cursor: pointer;
}

.add-review__button:active {
  background-color: #a93a09;
}

.footer {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  font-family: sans-serif;
}

.footer__text-box {
  display: flex;
  flex-direction: column;
}

.footer__text {
  font-size: 14px;
}

.footer__orange-text {
  color: #f52;
}

.footer__up-link {
  font-weight: 400;
}

.line {
  align-self: flex-end;
  border-bottom: 1px dashed black;
  width: 80%;
}

.hover_button:hover {
  background-color: #f2f2f2;
}

.hover_button:active {
  border: 2px solid rgba(169, 58, 9, 1);
}

.button_selected {
  border: 2px solid #f36223;
}

@media (min-width: 1024px) and (max-width: 1500px) {
  .container {
    width: 1024px;
  }
  .wrapper {
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__title-box {
    width: 1000px;
  }

  .header-images__image {
    max-height: 272px;
  }

  .main__container {
    column-gap: 40px;
  }

  .delivery-box__text {
    white-space: normal;
  }

  .delivery-box__cost {
    display: block;
  }

  .product-card__button {
    padding: 20px 62px;
  }

  .sidebar {
    align-items: flex-end;
  }

  .ads__iframe {
    width: 360px;
  }

  .tables {
    display: none;
  }

  .reviews {
    max-width: 594px;
    width: 55vw;
  }

  .review__avatar {
    height: 100px;
  }

  .review__rating {
    width: 20px;
    height: 20px;
  }

  .add-review {
    align-items: flex-start;
  }

  .footer {
    padding: 30px 15px;
  }
}
