.specification {
  margin-bottom: 30px;
}

.specification__title {
  margin-bottom: 15px;
}

.specification__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.specification__link {
  font-weight: bold;
}

.specification__item::before {
  display: inline-block;
  content: "\2B24";
  margin-right: 10px;
  vertical-align: text-top;
  color: #888888;
  font-size: 13px;
}

.specification__item-bold-text {
  font-weight: 800;
}

