* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  color: #008cf0;
  text-decoration: none;
}

.link:hover {
  color: #f36223;
}

.link:focus {
  color: rgba(169, 58, 9, 1);
}

.container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 16px;
  font-family: sans-serif;
}

.wrapper {
  padding-top: 19px;
  padding-left: 50px;
  padding-right: 50px;
}

input,
textarea,
select,
button {
  font: inherit;
}

.main {
  margin-bottom: 100px;
}

.main__container {
  display: flex;
  align-items: baseline;
  column-gap: 100px;
}

.hover_button:hover {
  background-color: #f2f2f2;
}

.hover_button:active {
  border: 2px solid rgba(169, 58, 9, 1);
}

@media (min-width: 1024px) and (max-width: 1499px) {
  .container {
    width: 1024px;
  }
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__title-box {
  }

  .product-images__image {
    max-height: 272px;
  }

  .main__container {
    column-gap: 40px;
  }

  .delivery-box__text {
    white-space: normal;
  }

  .delivery-box__cost {
    display: block;
  }

  .product-card__button {
    padding: 20px 62px;
  }

  .sidebar {
    align-items: flex-end;
  }

  .ads__iframe {
    width: 360px;
  }

  .tables {
    display: none;
  }

  .reviews {
    max-width: 594px;
    width: 55vw;
  }

  .reviews__btn {
    display: none;
  }

  .review__avatar {
    height: 100px;
  }

  .review__rating {
    width: 20px;
    height: 20px;
  }

  .add-review {
    align-items: flex-start;
  }

  .footer {
    padding: 30px 15px;
  }
}

@media (min-width: 360px) and (max-width: 1023px) {
  .container {
    width: 360px;
  }
  .wrapper {
    padding: 8px 10px;
  }

  .header__icon {
    height: 33px;
  }

  .header__icons-box {
    gap: 1px;

  }

  .basket-icon-counter {
    display: inline;
    vertical-align: text-top;
    left: 17px;
    top: -10px;
    min-width: 19px;
    height: 19px;
    font-size: 10px;
  }

  .header__title-box {
    padding-top: 0px;
    column-gap: 5px;
  }

  .header__title {
    font-size: 34px;
  }
  .header__basket-icon {
    width: 42px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
  }

  .header__fav-icon {
    background-size: 31px 29px;
    background-repeat: no-repeat;
    width: 44px;
    height: 29px;
    background-repeat: none;
  }

  .bread-crumbs__container {
    display: inline-block;
  }


  .product-images__box {
    overflow: hidden;
  }
  .product-images__title {
    font-size: 24px;
  }

  .product-images__image {
    height: 260px;
  }

  .main__container {
    flex-direction: column-reverse;
    row-gap: 30px;
  }

  .ads {
    display: none;
  }


  .product-card__button {
    width: 300px;
    padding: 20px 40px;
  }

  .delivery-box__text {
    white-space: inherit;
  }

  .configuration__images {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .configuration__image {
    width: 60px;
    padding: 5px 10px;
  }

  .specification__list {
    width: 340px;
  }

  .specification__item {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
  }

  .specification__item::before {
    position: absolute;
    left: 0px;
  }
  .specification__item-bold-text {
    overflow-wrap: break-word;
  }

  .description {
    width: 340px;
  }

  .tables {
    display: none;
  }

  .reviews__btn {
    display: none;
  }

  .review {
    position: relative;
    display: inline-block;
  }

  .review__avatar {
    width: 80px;
    height: 80px;
  }

  .review__name {
    position: absolute;
    top: 10px;
    left: 90px;
  }

  .review__rating-box {
    position: absolute;
    top: 47px;
    left: 90px;
  }

  .review__rating {
    width: 20px;
    height: 20px;
  }

  .review__comment-container {
    margin-top: 15px;
  }

  .add-review__container {
    width: 335px;
  }

  .add-review-box {
    flex-direction: column;
    gap: 15px;
  }

  .add-review__rating {
   width: 100%;
  }

   .error-name-message {
    z-index: 10;
   }

   .footer {
    padding: 20px 10px;
    flex-direction: column;
    gap: 20px;
   }

   .footer__text {
    font-size: 14px;

   }

   .footer__link {
    white-space: nowrap;
   }
   .footer__up-link-box {
    align-self: flex-start;
   }
}


