.add-review {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .add-review__container {
    width: 710px;
    display: flex;
    flex-direction: column;

    border: none;
  }

  .form-input {
    border: 1px solid #888888;
  }

  .form-input::placeholder {
    color: #888888;
  }

  .form-input:focus {
    outline: 1px solid #000000;
  }
  .form-input:hover {
    outline: 1px solid #000000;
  }

  .add-review__title {
    margin-bottom: 15px;
    font-weight: 700;
  }

  .add-review-box {
    margin-bottom: 30px;
    display: flex;
    gap: 40px;
  }

  .add-review__name {
    /* flex-grow: 2; */
    width: 100%;
    padding: 15px 0;
    padding-left: 20px;
  }
  .add-review-input-name {
    position: relative;
    flex-grow: 2;
  }

  .add-review-input-rating {
    position: relative;
  }

  .error-name-message {
    position: absolute;
    left: 0px;
    top: 50px;

    width: 100%;
    padding: 8px 0;
    padding-left: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    background-color: #da4a0c;
    z-index: -10;
  }
  .error-rating-message {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 100%;
    padding: 8px 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    background-color: #da4a0c;
  }

  .add-review__rating {
    padding: 15px 0;
    padding-left: 20px;
    counter-set: none;
  }

  .add-review__comment {
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 156px;
    padding-left: 20px;

    resize: none;
  }

  .add-review__button {
    padding: 10px 20px;
    align-self: flex-start;

    border: none;
    border-radius: 4px;

    background-color: #f36223;
    color: #ffffff;
    cursor: pointer;
  }

  .add-review__button:active {
    background-color: #a93a09;
  }