.configuration__image {
    padding: 10px 24.54px;
    width: 80px;
    height: 80px;
    border: solid #888888 1px;
    border-radius: 4px;
    cursor: pointer;
  }

  .configuration__memory-title {
    margin-bottom: 15px;
  }

  .configuration__memory-btns {
    display: flex;
    gap: 10px;
  }

  .configuration__memory-btn {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
  }