.footer {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    font-family: sans-serif;
  }

  .footer__text-box {
    display: flex;
    flex-direction: column;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__orange-text {
    color: #f52;
  }



  .footer__up-link {
    font-weight: 400;
  }