.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iframe-box {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.iframe {
 overflow: hidden;
 border: 0;
 align-self: center;
 width: 100%;
 height: 100%;
 pointer-events: none;
}
