.header__title-box {
  position: sticky;
  top: 0;
  padding-top: 10px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 27px;
  display: flex;
  align-items: baseline;
  column-gap: 7px;
  z-index: 1000;
}

.header__title {
  font-size: 44px;
}

.header__title-span {
  color: #ff5722;
}

.header__icon {
  height: 41px;
  cursor: pointer;
}

.header__icons-box {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__fav-icon {
  position: relative;
  background-image: url("../../assets/images/icons/heartgrey.svg");
  width: 44px;
  height: 35px;
  background-repeat: no-repeat;
}

.basket-icon-counter {
  position: absolute;
  top: -13px;
  left: 25px;
  min-width: 26px;
  text-align: center;
  padding: 3px 5px;
  background: #f36223;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  border-radius: 50px;
}

.fav-icon-counter {
  position: absolute;
  top: -13px;
  left: 25px;
  min-width: 26px;
  text-align: center;
  padding: 3px 5px;
  background: #f36223;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
  border-radius: 50px;
}

.header__basket-icon {
  position: relative;
  width: 42px;
  height: 41px;
  background-image: url("../../assets/images/icons/basketgrey.svg");
}
