.tables {
  margin-bottom: 50px;
}
.table__title {
  margin-bottom: 15px;
  text-align: left;
  font-weight: 700;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table,
.table__row,
.table__subtitle,
.table__data {
  border: 1px solid;
}

.table__subtitle {
  padding: 10px;
}

.table__data {
  border-bottom: hidden;
  padding: 10px;
  text-align: left;
}

.table__row:last-child > .table__data {
  border-bottom: solid 1px;
}

.table__data:hover {
  cursor: cell;
  transition: 0.2s;
  background-color: #f2f2f2;
}
