.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .product-card {
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    border-radius: 20px;
  }

  .product-card__old-price-box {
    margin-bottom: 14px;
    display: flex;
    align-items: baseline;
    gap: 10px;
  }

  .product-card__fav-icon {
    align-self: center;
    margin-left: auto;
    cursor: pointer;
  }

  .fav-icon-inactive:hover path {
    fill: #F36223;
  }

  .product-card__old-price {
    color: #888888;
    text-decoration: line-through;
  }

  .product-card__discount {
    padding: 4px 8px;
    background: #f36223;
    border-radius: 500px;
    color: #ffffff;
  }

  .product-card__price {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 32px;
  }
  .delivery-box {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .delivery-box__text {
    white-space: nowrap;
  }

  .delivery-box__cost {
    font-weight: bold;
  }

  .product-card__button {

    padding: 20px 80px;
    width: 380px;
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;

    background: #f36223;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }

  .product-card__button:hover {
    background: #da4a0c;
  }

  .product-card__button::before {
    content: url('../../assets/images/icons/cart.svg');
    width: 20px;
    height: 19px;
  }

  .product-card__button:active {
    background-color: #a93a09;
  }

  .product-card__button-inactive {
    background: #888888;
  }

  .product-card__button-inactive:hover {
    background: #888888;
  }

  .product-card__button-inactive:active {
    background: #888888;
  }

  .ads__title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #888888;
    text-align: center;
  }

  .ads__iframe-box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
