* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.main-page__container {
  width: 1500px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.main-page__description {
  width: 450px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;

}



 @media (min-width: 1024px) and (max-width: 1499px) {

  .main-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-page__container {
    width: 1024px;
  }




}

@media (min-width: 360px) and (max-width: 1023px) {
  .main-wrapper {
    padding-left: 10px;
    padding-right: 10px;

  }


  .main-page__container {
    width: 360px;
  }


  .main-page__description {
    width: 100%;
  }

}
