.review__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.review {
  position: relative;
  display: flex;
  column-gap: 30px;
}

.review:last-child::before {
  position: absolute;
  top: -20px;
  left: 170px;
  content: '';
  min-width: 80%;
  width: 10px;
  height: 10px;
  border-top: 1px dashed black;

}

.review__avatar {
  height: 140px;
  border-radius: 50%;
}

.review__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review__name {
  font-weight: 700;
  font-size: 20px;
}

.review__rating-box {
  margin-bottom: 20px;
  display: flex;
  gap: 2px;
}

.review__rating {
  width: 30px;
  height: 30px;
}

.review__comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-comment__text {
  font-size: 14px;
}

.review-comment__subtitle {
  font-weight: 700;
}
