
  .configuration__color,
  .configuration__memory {
    margin-bottom: 30px;
  }

  .hover_button:active {
    border: 2px solid rgba(169, 58, 9, 1);
  }

  .button_selected {
    border: 2px solid #f36223;
  }
