
.bread-crumbs__container {
  margin-bottom: 8px;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.bread-crumbs__link:not(:last-child):after {
    content: '>';
    color: black;
    margin-left: 4px;
    margin-right: 4px;
    cursor: default;
    font-size: 14px;
}