.product-images {
    margin-bottom: 30px;
  }

  .product-images__title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .product-images__box {
    display: flex;
    column-gap: 10px;
  }

  .product-images__image {
    flex-grow: 1;
    height: 387px;
  }
