.reviews {
    max-width: 880px;
  }

  .reviews-title__container {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .reviews-title__box {
    display: flex;
    gap: 10px;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__counter {
    font-size: 24px;
    font-weight: 700;
    color: #aaaaaa;
  }

  .reviews__btn {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
  }

